<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Stage performers</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style(2).css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/shopping-mall-index.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/zhonglin.js"></script>

</head>

<body>
<div class="personal-r f-r">
    <div class="personal-right">
        <div class="personal-r-tit">
            <h3>个人资料</h3>
        </div>
        <div class="data-con">
            <div class="dt1">
                <p class="f-l">当前头像：</p>
                <div class="touxiang f-l">
                    <div class="tu f-l">
                        <a href="#">
                            <img src="/static/images/user_pic.png"/>
                            <input type="file" name="" id="" class="img1"/>
                        </a>
                    </div>
                    <a href="JavaScript:;" class="sc f-l" shangchuang="">上传头像</a>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="dt1">
                <p class="dt-p f-l">用户名：</p>
                <input type="text" placeholder="请输入你想要的用户名"/>
                <div style="clear:both;"></div>
            </div>
            <div class="dt1 dt2">
                <p class="dt-p f-l">性别：</p>
                <input type="radio" name="hobby"></input><span>男</span>
                <input type="radio" name="hobby"></input><span>女</span>
                <div style="clear:both;"></div>
            </div>
            <div class="dt1">
                <p class="dt-p f-l">年龄：</p>
                <input type="text" placeholder="请输入你的年龄">
                <div style="clear:both;"></div>
            </div>

            <div class="dt1 dt4">
                <p class="dt-p f-l">密码：</p>
                <input type="text" placeholder="请输入你想要修改的密码"/>
                <button>修改密码</button>
                <div style="clear:both;"></div>
            </div>
            <button class="btn-pst">保存</button>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
</div>

<!--上传头像弹窗
<div class="tanchuang">
    <div class="t-c-bg"></div>
    <div class="t-c-con">
        <div class="tc-tit">
            <h3>上传头像</h3>
            <a href="JavaScript:;" delete=""><img src="images/t-c-del.gif" /></a>
            <div style="clear:both;"></div>
        </div>
        <div class="tc-con">
            <a href="#"><img src="images/tc-tu.gif" /></a>
            <button>保存头像</button>
        </div>
    </div>
</div>-->


</body>
</html>
